nav.navbar.navbar-expand-lg
  .container
    a.navbar-brand(href="#") HLSC-DEV
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarColor01", aria-controls="navbarColor01", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarColor01.collapse.navbar-collapse
      ul.navbar-nav.ml-auto.pull-right
        li.nav-item.active
          a.nav-link(href="/") 首页
            span.sr-only (current)
        li.nav-item
          a.nav-link(href="#") 特性
        li.nav-item
          a.nav-link(href="/release") 发布
        li.nav-item
          a.nav-link(href="#") 关于
        li.nav-item
          a.nav-link(href="#") 帮助