extends layout.pug
block content
  include inc/nav.pug
  .jumbotron.splash
    .container
      h1.display-4 华林证券APP
      p.lead 发现新机会 开户有惊喜 轻松跟投高手
  .container
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active.show(data-toggle="tab", href="#dev") 开发版
      li.nav-item
        a.nav-link(data-toggle="tab", href="#test") 测试版
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(data-toggle="dropdown", href="#", role="button", aria-haspopup="true", aria-expanded="false") 生产版
        .dropdown-menu(x-placement="bottom-start", style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;")
          a.dropdown-item(href="https://itunes.apple.com/cn/app/wei-zheng-quan/id1037731696?mt=8") 苹果商店
          .dropdown-divider
          a.dropdown-item(href="http://a.app.qq.com/o/simple.jsp?pkgname=com.weizq") 应用宝
          a.dropdown-item(href="http://appstore.huawei.com/app/C10457683") 华为商城
    .tab-content
      #dev.tab-pane.fade.active.show
        .row
          .col-sm
            .group
              .group-hd
                h3 Android开发版
              .group-bd
                .android.item(style="display:block;")
                  .android-qr-latest.img-qr
                  .desc
                    p.qr-version
                    p.qr-date
                    p.qr-desc
          .col-sm
            .group
              .group-hd
                h3 IOS开发版
              .group-bd
                .ios.item(style="display:block;")
                  .ios-qr-latest.img-qr
                  .desc
                    p.qr-version
                    p.qr-date
                    p.qr-desc

      #test.tab-pane.fade
        .row
          .col-sm
            .group
              .group-hd
                h3 Android测试版
              .group-bd
                .android.item(style="display:block;")
                  .android-qr-latest.img-qr
                  .desc
                    p.qr-version
                    p.qr-date
                    p.qr-desc
          .col-sm
            .group
              .group-hd
                h3 IOS测试版
              .group-bd
                .ios.item(style="display:block;")
                  .ios-qr-latest.img-qr
                  .desc
                    p.qr-version
                    p.qr-date
                    p.qr-desc

block script
  script(src="/assets/js/jquery.min.js")
  script(src="/assets/js/popper.min.js")
  script(src="/assets/js/bootstrap.min.js")
  script(src="/assets/js/qrcode.min.js")
  script(src="/assets/js/index.js")