extends layout.pug
block content
  include inc/nav.pug
  .jumbotron.splash
    .container
      h1.display-4 华林证券APP
      p.lead 发现新机会 开户有惊喜 轻松跟投高手
  .container
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active.show(data-toggle="tab", href="#test") 测试版
      li.nav-item
        a.nav-link(data-toggle="tab", href="#prod") 生产版
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(data-toggle="dropdown", href="#", role="button", aria-haspopup="true", aria-expanded="false") 应用商店
        .dropdown-menu
          a.dropdown-item(href="https://itunes.apple.com/cn/app/wei-zheng-quan/id1037731696?mt=8") 苹果商店
          .dropdown-divider
          a.dropdown-item(href="http://a.app.qq.com/o/simple.jsp?pkgname=com.weizq") 应用宝
          a.dropdown-item(href="http://appstore.huawei.com/app/C10457683") 华为商城
    .tab-content
      #test.tab-pane.fade.active.show
        .row
          .col-sm
            .card
              .card-body
                h4.card-title Android测试版本
                .row.mt-4
                  .col-sm-4
                    div#android-test-qr.qr-code
                  .col-sm-8
                    select#android-test.custom-select
                    p#android-test-desc
          .col-sm
            .card
              .card-body
                h4.card-title IOS测试版本
                .row.mt-4
                  .col-sm-4
                    div#ios-test-qr.qr-code
                  .col-sm-8
                    select#ios-test.custom-select
                    p#ios-prod-desc

      #prod.tab-pane.fade
        .row
          .col-sm
            .card
              .card-body
                h4.card-title Android测试版本
                .row.mt-4
                  .col-sm-4
                    div#android-prod-qr.qr-code
                  .col-sm-8
                    select#android-prod.custom-select
                    p#android-prod-desc
          .col-sm
            .card
              .card-body
                h4.card-title IOS测试版本
                .row.mt-4
                  .col-sm-4
                    div#ios-prod-qr.qr-code
                  .col-sm-8
                    select#ios-prod.custom-select
                    p#ios-prod-desc

block script
  script(src="/lib/jquery.min.js")
  script(src="/lib/popper.min.js")
  script(src="/lib/bootstrap.min.js")
  script(src="/lib/qrcode.min.js")
  script(src="/assets/js/index.js")