extends layout.pug
block content
  include inc/nav.pug
  .container
    #releaseForm
      .form-group.row
        label.col-sm-2.col-form-label.col-form-label-lg.text-right(for="env") 环境
        .col-sm-10
          select#env.form-control(name="env")
            option(value="dev") 开发环境
            option(value="test") 测试环境
      .form-group.row
        label.col-sm-2.col-form-label.col-form-label-lg.text-right(for="system") 系统
        .col-sm-10
          select#system.form-control(name="system")
            option(value="ios") IOS
            option(value="android") Android
      .form-group.row
        label.col-sm-2.col-form-label.col-form-label-lg.text-right(for="version") 版本号
        .col-sm-10
          input#version.form-control.form-control-lg(type="text",name="version" placeholder="v0.1.0-beta.1")
      .form-group.row
        label.col-sm-2.col-form-label.col-form-label-lg.text-right(for="date") 日期
        .col-sm-10
          input#date.form-control.form-control-lg(type="date",name="date" placeholder="请选择日期")
      .form-group.row
        label.col-sm-2.col-form-label.col-form-label-lg.text-right(for="url") URL
        .col-sm-10
          input#url.form-control.form-control-lg(type="url",name="url" placeholder="请输入二维码地址")
      .row.justify-content-end
        .col-sm-10
          button#submit.btn.btn-lg.btn-primary(type="submit") 发布

block script
  script(src="/assets/js/jquery.min.js")
  script(src="/assets/js/bootstrap.min.js")
  script(src="/assets/js/release.js")