extends layout.pug
block content
  include inc/nav.pug
  .container
    #releaseForm
      .form-group.row
        label.col-sm-2.col-form-label.col-form-label-lg.text-right(for="exampleInputFile") 上传文件
        .col-sm-10
          input#exampleInputFile.form-control-file.form-control-lg(type="file", aria-describedby="fileHelp")
      .row.justify-content-end
        .col-sm-10
          <button type="submit" class="btn btn-lg btn-primary">提交</button>
